[submodule "ext/psoc-sw-lib"]
	path = ext/psoc-sw-lib
	url = https://github.com/kit-kch/psoc-sw-lib.git
[submodule "ext/neorv32"]
	path = ext/neorv32
	url = https://github.com/kit-kch/psoc-neorv32.git
[submodule "ext/psoc-sw-adafruit-gfx"]
	path = ext/psoc-sw-adafruit-gfx
	url = https://github.com/kit-kch/psoc-sw-adafruit-gfx.git
[submodule "ext/psoc-sw-adafruit-ssd1306"]
	path = ext/psoc-sw-adafruit-ssd1306
	url = https://github.com/kit-kch/psoc-sw-adafruit-ssd1306.git
[submodule "ext/psoc-sw-arduino-wire"]
	path = ext/psoc-sw-arduino-wire
	url = https://github.com/kit-kch/psoc-sw-arduino-wire.git
[submodule "ext/etl"]
	path = ext/etl
	url = https://github.com/ETLCPP/etl.git
